$animationDuration: 2s;
$mainColor: rgb(64, 207, 160);

nav {
  li {
    a {
      font-size: 1.2em;
      font-weight: 400;
      opacity: 0.9;
    }
  }
}

.mainHead {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: $mainColor;
}

.headOfPage {
  text-align: center;
  color: $mainColor;
  font-family: "Satisfy", cursive;
  margin: 20px 0;
}

.card {
  background-color: white;

}

.heart {
  cursor: pointer;
}

.cols {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-header {
  font-size: 1.5em;
  text-align: center;
  font-family: "Satisfy", cursive;
  color: $mainColor;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#pagination .page-item.active .page-link {
  background-color: $mainColor;
  border-color: $mainColor;
  color: white;
}

#pagination .page-link {
  color: $mainColor;
}

.share {
  color: $mainColor !important;
}

footer a {
  color: $mainColor !important;
  font-weight: 600;
}